{% extends "base.html.twig" %}

{% block title %}
    All Articles
{% endblock %}

{% block body %}
    <h1>All Articles</h1>
    {% for article in articles  %}
        <article>
            <h2>{{ article.getTitle(app.request.locale) }}</h2>
            <p><a href="{{ path('article_show', {id: article.id}) }}">Read More</a></p>
        </article>
        <hr>
    {% endfor %}
{% endblock %}

