{% extends "base.html.twig" %}

{% block title %}
    All Articles
{% endblock %}


{% block body %}
    <h1>All Articles</h1>
    {% for article in articles  %}
        <article>
            <h2>{{ article.title }}</h2>
            {% for content in article.articleContents  %}
                <div>{{dump(content)}}</div>
            {% endfor %}
        </article>
    {% endfor %}
{% endblock %}
