{% extends "base.html.twig" %}

{% block title %}
    All Articles
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
{% endblock %}


{% block body %}
    <h1>All Articles</h1>
    {% for article in articles  %}
        <article>
            <h2>{{ article.title }}</h2>
            {% for content in article.articleContents  %}
                <div>{{ content.content | raw }}</div>
            {% endfor %}
        </article>
        <hr>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

